---
// import SomosARK from '../../assets/SomosARK.png';
import LogoBhus from '../../assets/LogoBhus.png';
import LogoArkited from '../../assets/arkited.svg';
import Vectorverde from '../../../public/Vectorverde.png';
import { getSomosArkited } from '../../services/api'

const somosArkitedData = await getSomosArkited();

const descripcion = somosArkitedData.historyDescriptionQuill || ""
const imagen = somosArkitedData.historyDescriptionImage || ""



---
<section class="relative w-full px-4 overflow-hidden lg:py-12 md:px-0">
  <div class="grid w-full h-full grid-cols-1 md:grid-cols-2">
    <div class="relative flex h-full">
      <!-- Fondo orgánico -->
      <!-- <img src={SomosARK.src} alt="Fondo orgánico Arkited" class="object-cover w-full h-full" draggable="false" /> -->
      <!-- Logos dentro de la forma -->
      <div class="z-10 flex flex-col items-start justify-center gap-4">
 
        <img src={imagen} alt="Vector verde" class="max-w-full lg:w-full md:w-12" />

        
     
      </div>
    </div>
    <div class="relative z-10 flex flex-col items-start justify-start h-full gap-6 px-2 md:px-8 lg:pt-16 lg:max-w-md">
      <h2 class="mb-2 text-3xl font-medium md:text-4xl text-verdeArk font-akira-bold">Ahora somos Arkited</h2>
      <p class="max-w-xl text-lg leading-relaxed text-gray-800 md:text-xl md:leading-7">
        {descripcion}
  
      </p>
   
    </div>
  </div>
</section>
