---
import logological2 from '../../assets/logological2.png';
---
<div class="relative flex flex-col items-start w-full gap-5 lg:!pl-24 lg:!py-10 mx-auto lg:w-2/3 bg-moradoArk banner-cortado">
  <div class="flex flex-col">
    <span class="text-base text-verdeArk lg:text-4xl font-akira-bold">
      Preparate para
      las <br class="hidden lg:block" /> demas pruebas UNI    <a class="text-white lg:text-4xl font-akira-bold " href="">AQUI</a>
    </span>
 
  </div>
  
  <button class="pr-10 mr-14 lg:mr-10 button-cortado-banner font-akira-bold">Inscribete ahora</button>
</div>
