---
---
<div class="my-10 banner-cortado lg:my-0">
 <div class="flex items-center gap-5 text-xs font-akira-bold lg:text-2xl">
  <span class="mr-2 text-lg font-bold lg:text-7xl text-verdeArk">10</span>
  anos preparando <br class="hidden lg:block">los arquitectos del futuro!
 </div>
</div> 